<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TIP Career Center</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style4.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/table.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/chosen.min.css' %}">
    <script src="{% static 'js/chosen.jquery.min.js' %}"></script>


    <!-- Font Awesome JS -->
    <!-- <script src="solid.js"></script> -->
    <!-- <script src="fontawesome.js" </script> -->
    <script> // !!!!!!!!!!!!!!!!!!!!!These scripts should be transfered to Admin.html after linking this file to base template (Admin.html)
		(function() {
                    'use strict';
                    window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                    }, false);
                    });
                    }, false);
                    })();
                    function relocate_home()
                    {
                        location.href = "Admin.html";
                    } 
                    function relocate_next()
                    {
                        location.href = "linkageform2.html";
                    } 
                    window.onscroll = function() {myFunction()};

                    var header = document.getElementById("myHeader");
                    var sticky = header.offsetTop;

                    function myFunction() {
                    if (window.pageYOffset > sticky) {
                        header.classList.add("sticky");
                    } else {
                        header.classList.remove("sticky");
                    }
                    } // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!Up to this script
</script>
</head>
<body style="font-family: 'Poppins'">
    <header class="header">TECHNOLOGICAL INSTITUTE OF THE PHILIPPINES</header>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav class="sidebar" id="sidebar">
            <div class="sidebar-header">
                <h3><img class="logo" src="{% static 'img/TIPLogo.jpg' %}" alt="Logo"></h3>
            </div>
            <ul class="list-unstyled components">
                <li class="active">
                    <a>Welcome {{ request.session.current_user.username }}!</a>
                    <a href="/company-management/administrator/">
                        Home
                    </a>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        Manage Companies
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="/company-management/administrator/add-company/">Add Company</a>
                        </li>
						<li>
                            <a href="/company-management/administrator/manage-companies/">Update Companies</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        Account Management
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/account-management/view-activitylogs/">View Activity Log</a>
                        </li>
						<li>
                            <a href="/account-management/manage-accounts/">Manage Accounts</a>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        Log out
                    </a>
                </li>
            </ul>
        </nav>
        <div id="content" class="parallax1">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/chosen.jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <!-- Popper.JS -->
    <script src="{% static 'js/popper.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script>
        $('#deletemodal').on('shown.bs.modal', function () {
        $('#deletebtn').trigger('focus')    
    })
    </script>
    <script type="text/javascript">
        $(".custom-select").chosen();
    </script>
    <script type="text/javascript" src="{% static 'css/datatables.min.js' %}"></script>
</body>
</html>