{% load static %}
<html>
    <style>
        h1 {
            text-align: center;
            font-size:7;
        }
        h3 {
            font-size:6;
        }
        li {
            font-size:5;
        }
    </style>
    <head> 
        <h1>TECHNOLOGICAL INSTITUTE OF THE PHILIPPINES</h1>
        <h3>Profile for ID: {{ profileID }}</h3>
        <ul>
            <li>Name: {{ test }}</li>
            <li>Address: </li>
            <li>Industry Type: </li>
        </ul>
    </head>
    <body>
        <div>
        <img src="{% static 'profile.png' %}"><br/><br/><br/><br/><br/><br/><br/><br/>
        </div>
        <p style="page-break-before: always;">
        <img src="{% static 'banner.png'%}">
        </p>
    </body>
</html>