
.parallax1{
	min-height:900px;
	max-height: 100%;
	width: 100%;
	background-image: url(img/background.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: table;
}
.parallax4{
	min-height: 100%;
	max-height: 100%;
	width:100%;
	background-image: url(img/background.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: table;
}
.parallax5{
	min-height: 100%;
	max-height: 100%;
	width:100%;
	background-image: url(img/bgbuilding.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: table;
}
.parallax6{
	min-height: 1080px;
	max-height: 1080px;
	width: 100%;
	background-image: url(img/background.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: table;
}

