{% extends 'template.html' %}
    {% block content %}
	<style>
	.Activity1{
		height: 100px;
		width: 100px;
		background-color:yellow;
		margin-right:2%;
		}
	.Activity2{
		height: 100px;
		width: 100px;
		background-color:red;
		margin-right:2%;
		}
	.Activity3{
		height: 100px;
		width: 100px;
		background-color:yellow;
		margin-right:2%;
		}
	.Activity4{
		height: 100px;
		width: 100px;
		background-color:red;
		margin-right:2%;
		}
	.Activity5{
		height: 100px;
		width: 100px;
		background-color:yellow;
		margin-right:2%;
		}
	.Activity6{
		height: 100px;
		width: 100px;
		background-color:red;
		margin-right:2%;
		}
	.Activity7{
		height: 100px;
		width: 100px;
		background-color:yellow;
		margin-right:2%;
		}
	</style>
        <div class="container parallax1">
            <div class="jumbtron">
            </br>
        </br>
    </br>
                <h1>Welcome to TIP Career Center Company Linkages System!</h1>
				<div class="row">
					<div class="Activity1">
						Activity 1
					</div>
					<div class="Activity2">
						Activity 2
					</div>
					<div class="Activity3">
						Activity 3
					</div>
					<div class="Activity4">
						Activity 4
					</div>
					<div class="Activity5">
						Activity 5
					</div>
					<div class="Activity6">
						Activity 6
					</div>
					<div class="Activity7">
						Activity 7
					</div>
				</div>
                <!-- <p>admin @ "administrator/admin.html" url pattern is working</p> -->
            </div>
        </div>
    {% endblock %}    
