{% extends 'template.html' %}
{% load static %}
    {% block content %}

    <table id="tableID" class="display nowrap dataTable dtr-inline collapsed">
        <thead>
                <tr>
                    <th colspan="5" style="text-align:center;color:#1e1e1e">On-Campus Recruitments</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>No. of Participants</th>
                    <th>Report</th>
                    <th>Date Added</th>
                </tr>
        </thead>
        <tbody>
            {% for i in on_campus_recruitments %}
            <tr>
                <td>{{ i.on_campus_recruitment_name }}</td>
                <td>{{ i.on_campus_recruitment_date }}</td>
                <td>{{ i.on_campus_recruitment_participants }}</td>
                <td>{{ i.on_campus_recruitment_attachment }}</td>
                <td>{{ i.on_campus_recruitment_date_added }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <script>
        $(document).ready( function () {
        $('#tableID').DataTable();
    } );
    </script>
    {% endblock %}