{% extends 'template.html' %}
{% load static %}
    {% block content %}

    <table id="tableID" class="display nowrap dataTable dtr-inline collapsed">
        <thead>
                <tr>
                    <th colspan="5" style="text-align:center;color:#1e1e1e">Career Fairs</th>
                </tr>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>No. of Participants</th>
                    <th>Report</th>
                    <th>Date Added</th>
                </tr>
        </thead>
        <tbody>
            {% for i in career_fairs %}
            <tr>
                <td>{{ i.career_fair_title }}</td>
                <td>{{ i.career_fair_date }}</td>
                <td>{{ i.career_fair_participants }}</td>
                <td><a href="{{ i.career_fair_attachment }}" style="color:rgb(72, 109, 144)">Report</a></td>
                <td>{{ i.career_fair_date_added }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <script>
        $(document).ready( function () {
        $('#tableID').DataTable();
    } );
    </script>
    {% endblock %}