{% extends 'template.html' %}
{% load static %}
    {% block content %}
	<div class="container-fluid parallax1" style="padding-left:125px;padding-right:125px;padding-bottom:25%;padding-top:100px;">
	<div class="row">
			<div class="col-md"style="background-color:rgba(60, 60, 60, 0.7);padding-left:75px;padding-right:75px;padding-top:50px;padding-bottom:50px;">
    <table id="tableID" class="display nowrap dataTable dtr-inline collapsed">
        <thead>
                <tr>
                    <th colspan="6" style="text-align:center;color:#1e1e1e">Internships</th>
                </tr>
                <tr>
                    <th>Student Name</th>
                    <th>Program</th>
                    <th>School Year</th>
                    <th>Semester</th>
                    <th>Date Added</th>
                </tr>
        </thead>
        <tbody>
            {% for i in internships %}
            <tr>
                <td>{{ i.internship_student_name }}</td>
                <td>{{ i.intership_program }}</td>
                <td>{{ i.intership_school_year }}</td>
                <td>{{ i.internship_semester }}</td>
                <td>{{ i.internship_date_added }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
	</div>
	</div>
	</div>
    <script>
        $(document).ready( function () {
        $('#tableID').DataTable(
            {
                dom: 'Bftrip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            }   );
    }   );
    </script>
    
    {% endblock %}
