{% extends 'template.html' %}
{% load static %}
    {% block content %}
	<div class="container-fluid parallax1" style="padding-left:125px;padding-right:125px;padding-bottom:25%;padding-top:100px;">
	<div class="row">
			<div class="col-md"style="background-color:rgba(60, 60, 60, 0.7);padding-left:75px;padding-right:75px;padding-top:50px;padding-bottom:50px;">
    <table id="tableID" class="display nowrap dataTable dtr-inline collapsed">
        <thead>
                <tr>
                    <th colspan="5" style="text-align:center;color:#1e1e1e">Career Development Trainings</th>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>No. of Participants</th>
                    <th>Report</th>
                    <th>Date Added</th>
                </tr>
        </thead>
        <tbody>
            {% for i in career_development_trainings %}
            <tr>
                <td>{{ i.career_development_training_name }}</td>
                <td>{{ i.career_development_training_date }}</td>
                <td>{{ i.career_development_training_participants }}</td>
                <td><a href="{{ i.career_development_training_attachment }}" style="color:rgb(72, 109, 144)">Report</a></td>
                <td>{{ i.career_development_training_date_added }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
	</div>
	</div>
	</div>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <script>
        $(document).ready( function () {
        $('#tableID').DataTable(
            {
                dom: 'Bftrip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            }   );
    }   );
    </script>
    {% endblock %}
