{% extends 'template.html' %}
{% load static %}
    {% block content %}
<div class="container-fluid parallax1" style="padding-left:125px;padding-right:125px;padding-bottom:25%;padding-top:100px;">
	<div class="row">
			<div class="col-md"style="background-color:rgba(60, 60, 60, 0.7);padding-left:75px;padding-right:75px;padding-top:50px;padding-bottom:50px;margin-right:12%;">
    <table id="tableID" class="display nowrap dataTable dtr-inline collapsed">
        <thead>
                <tr>
                    <th colspan="7" style="text-align:center;color:#1e1e1e">Scholarships</th>
                </tr>
                <tr>
                    <th>Student Name</th>
                    <th>Program</th>
                    <th>School Year</th>
                    <th>Semester</th>
                    <th>Amount</th>
                    <th>Date Added</th>
                </tr>
        </thead>
        <tbody>
            {% for i in scholarships %}
            <tr>
                <td>{{ i.scholarship_student_name }}</td>
                <td>{{ i.sholarship_program }}</td>
                <td>{{ i.scholarship_school_year }}</td>
                <td>{{ i.scholarship_semester }}</td>
                <td>{{ i.scholarship_amount }}</td>
                <td>{{ i.scholarship_date_added }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
</div>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
    <script>
        $(document).ready( function () {
        $('#tableID').DataTable(
            {
                dom: 'Bftrip',
                buttons: ['copy', 'csv', 'excel', 'pdf', 'print']
            }   );
    }   );
    </script>
    {% endblock %}
