{% extends 'template.html' %}
{% load static %}
    {% block content %}
        <div class="container-fluid parallax1" style="padding-left:50px;padding-right:50px">
        <div class="row">
          <div class="col" style="background-color:rgba(175, 175, 175, 0.7);padding-left:75px;padding-right:75px;padding-top:50px;padding-bottom:50px">
          <div class="table-responsive">
                    <!--<h1>Main page test</h1>
                    <p>index @ "--blank--" url pattern is working</p>-->
                        <table id="tableID" class="display nowrap dataTable dtr-inline collapsed">
                          <thead>
                            <tr>
                              <th colspan="8" style="text-align:center;color:#1e1e1e">Companies</th>
                            </tr>
                            <tr >
                              <th>ID</th>
                              <th>Name</th>
                              <th>Address</th>
                              <th>Engagement Points</th>
                              <th>Level of Engagement</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                              {% for c in companies %}
                                <tr>
                                  <td>{{ c.company_id }}</td>
                                  <td>{{ c.company_name }}</td>
                                  <td>{{ c.company_address }}</td>
                                  <td>Level of Engagement (TBA)</td>
                                  <td>Icon (TBA)</td>
                                  <td>
                                      <i class="button edit"><a href="/company-management/administrator/company-profile/{{ c.company_id }}"><img width="30" height="30" src="{% static 'img/view.png' %}"></a></i>
                                      <i class="button edit"><a href="/company-management/administrator/edit-company/{{ c.company_id }}"><img width="30" height="30" src="{% static 'img/edit.png' %}"></a></i>
                                      <!-- <i class="button edit"><a href="/company-management/administrator/delete-company/{{ c.company_id }}">Delete</a></i> -->
                                      <i class="button delete" data-toggle="modal" data-target="#deletemodal{{ c.company_id }}" id="deletebtn"><img width="30" height="30" src="{% static 'img/delete.png' %}"></i>
                                      <div class="modal fade" id="deletemodal{{ c.company_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
                                          <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content"  style="width:1000px">
                                              <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Delete Company</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                              </div>
                                              <div class="modal-body">
                                                Are you sure you want to delete all the information of this company?
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                <form method="POST">{% csrf_token %}<button type="submit" value="{{ c.company_id }}" name="company_id" class="btn btn-danger">Delete</button></form>
                                                <!-- <button type="button" class="btn btn-danger"><a href="/company-management/administrator/delete-company/{{ c.company_id }}">Delete</a></button> -->
                                              </div>
                                            </div>
                                          </div>
                                      </div>
                                  </td>
                                </tr>
                              {% endfor %}
                          </tbody>
                      </table>
            </div>
            </div>
          </div>
            <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>
            <script>
                $(document).ready( function () {
                $('#tableID').DataTable();
            } );
            </script>
        </div>
    
    {% endblock %}